#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# Note that this only works after applying
#   https://github.com/spotify/dh-virtualenv/pull/43
# (at least with some versions of virtualenv)

# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.

export DH_VIRTUALENV_INSTALL_ROOT=/opt/venvs

# Packages to install before the main project
PREINSTALL=--preinstall "setuptools>=17.1" --preinstall "pip>8" --preinstall "wheel" \
    --preinstall pytest --preinstall webtest
# --preinstall 'requests[security]' # for Python before 2.7.9, e.g. on Ubuntu Trusty

# Version of "devpi" meta package
DEVPI_SERVER_VERSION=4.7.1
DEVPI_SERVER_PYPI="https://pypi.org/"
DEVPI_URL=$(shell curl -sL $(DEVPI_SERVER_PYPI)simple/devpi-server/ \
    | grep devpi-server-$(DEVPI_SERVER_VERSION).tar.gz | cut -f2 -d'"' | cut -f1 -d\# | sed -re 's~^[./]+~~')

# Use a specific repo to build the package?
##PYPI_URL="--pypi-url=https://devpi.net/hpk/dev"
##DEVPI_URL="https://devpi.net/hpk/dev/+f/852/a16d5a944fd5a/devpi-2.0.2.tar.gz"

# Frozen versions of "devpi" requirements
DEVPI_FREEZE="devpi-client==4.1.0 devpi-common==3.3.1 devpi-web==3.4.1 requests==2.19.1"

# Add plugin packages, as a space- or comma-separated list
DEVPI_PLUGINS="devpi-findlinks==2.0.0"

PACKAGE_NAME=$(shell head -n1 debian/changelog | cut -f1 -d" ")
DEB_VERSION=$(shell head -n1 debian/changelog | sed -r 's/^$(PACKAGE_NAME)..([.0-9a-z]+).*$$/\1/')
DH_VENV_ARGS=--with python-virtualenv --setuptools --python /usr/bin/python3 $(PYPI_URL) $(PREINSTALL) #-v

clean:
	test ! -d debian/sdist || rm -rf debian/sdist
	-rm debian/*.tar.gz
	dh $@ $(DH_VENV_ARGS)

build-arch:
	# TODO: This should be an orig-tarball
	cd debian && curl -sLOkS $(DEVPI_URL)
	mkdir -p debian/sdist
	tar -xz -C debian/sdist --strip-components=1 --exclude '*.egg-info' -f debian/*.tar.gz
	echo $(DEVPI_FREEZE) $(DEVPI_PLUGINS) | tr ' ,' '\n\n' >>debian/sdist/requirements.txt
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist

%:
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist
