#!/usr/bin/make -f
#
# Build Debian package using https://github.com/spotify/dh-virtualenv
#
# Note that this only works after applying
#   https://github.com/spotify/dh-virtualenv/pull/43
# (at least with some versions of virtualenv)

# The below targets create a clean copy of the workdir via
# using "sdist", else "pip" goes haywire when installing from
# sourcedir ".", because that includes the debian build stage,
# and a recursive explosion ensues when symlinks are followed.

# Packages to install before the main project
PREINSTALL=
# --preinstall "https://github.com/jhermann/requests/archive/proxy-fixed-for-devpi.zip\#egg=requests"

# Version of "devpi" meta package
DEVPI_VERSION=2.0.2
DEVPI_URL="https://pypi.python.org/packages/source/d/devpi/devpi-$(DEVPI_VERSION).tar.gz"

# Use a specific repo to build the package?
PYPI_URL="--pypi-url=https://devpi.net/hpk/dev"
DEVPI_URL="https://devpi.net/hpk/dev/+f/852/a16d5a944fd5a/devpi-2.0.2.tar.gz"

# Frozen versions of "devpi" requirements
DEVPI_FREEZE="requests==2.4.0 devpi-common==2.0.2 devpi-client==2.0.2 devpi-server==2.0.5 devpi-web==2.0.1"

# Add plugin packages, as a space- or comma-separated list
DEVPI_PLUGINS="devpi-findlinks==1.0.0"

PACKAGE_NAME=$(shell head -n1 debian/changelog | cut -f1 -d" ")
DEB_VERSION=$(shell head -n1 debian/changelog | sed -r 's/^$(PACKAGE_NAME)..([.0-9a-z]+).*$$/\1/')
DH_VENV_ARGS=--with python-virtualenv --setuptools --python /usr/bin/python $(PYPI_URL) $(PREINSTALL) #-v

clean:
	test ! -d debian/sdist || rm -rf debian/sdist
	-rm debian/*.tar.gz
	dh $@ $(DH_VENV_ARGS)

build-arch:
	# TODO: This should be an orig-tarball
	cd debian && curl -sLOkS $(DEVPI_URL)
	mkdir -p debian/sdist
	tar -xz -C debian/sdist --strip-components=1 --exclude '*.egg-info' -f debian/*.tar.gz
	echo "$(DEVPI_FREEZE) $(DEVPI_PLUGINS)" | tr ' ,' '\n\n' >>debian/sdist/requirements.txt
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist

%:
	dh $@ $(DH_VENV_ARGS) --sourcedir debian/sdist
